// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.bespoke-parent.white-background
  background-color: white

h1 span.js
  color: #F3DF49
  font-family: "Source Sans Pro", sans-serif
  font-style: normal
  font-weight: bold

.tw
  color: #00ACED

.subtle
  font-size: 0.8em
  text-align: center
  margin-top: 25%


.background-full
  -webkit-background-size: contain
  -moz-background-size: contain
  background-size: contain
  background-position: center
  background-repeat: no-repeat

.meetups-logo
  background-image: url("../images/avatar1.jpg")
  background-repeat: no-repeat

.roadmap
  background-image: url("http://images.freepicturesweb.com/img1/20/16/d/186.jpg")
  background-repeat: no-repeat

.road-end
  background-image: url("http://itmole.com/wp/wp-content/uploads/2014/01/End-of-road-sign.jpg")
  background-repeat: no-repeat

.proto-paper
  background-image: url("../images/ux_paper1.jpg")
  background-repeat: no-repeat

.proto-paper h2
  color: black
  font-weight: bold
  font-size: 3em
  color: #DD4B39

.mockup h2
  color: black
  font-weight: bold
  font-size: 3em
  color: #DD4B39

.storyboard h2
  color: black
  font-weight: bold
  font-size: 3em
  color: #DD4B39

.mockup
  background-image: url("../images/mockup-tool-balsamiq.jpg")
  background-repeat: no-repeat

.storyboard
  background-image: url("../images/storyboard.jpg")
  background-repeat: no-repeat

.pluma1
  background-image: url("../images/stage1.png")
  background-repeat: no-repeat

.pluma2
  background-image: url("../images/stage2.png")
  background-repeat: no-repeat

.pluma3
  background-image: url("../images/stage3.png")
  background-repeat: no-repeat

.pluma4
  background-image: url("../images/stage3_config.png")
  background-repeat: no-repeat

.pluma5
  background-image: url("../images/stage4.png")
  background-repeat: no-repeat

.pluma6
  background-image: url("../images/stage5.png")
  background-repeat: no-repeat


.background-full .extra
  margin-left: auto
  margin-right: auto
  text-align: center
  margin-top: 75%
  color: #8e8e8e

blockquote
  padding: 20px 25px
  border-left: 5px solid transparent
  margin-bottom: 24px
  position: relative

blockquote:after, blockquote:before
  color: #ccc
  font-size: 40px
  position: absolute

blockquote:before
  top: 0
  left: 10px
  content: '\201C'

blockquote:after
  bottom: 0
  right: 10px
  content: '\201D'

img.low_quality
  width: 90%

.pyramid
  padding-right: 35px

.positive
  color: green

.negative
  color: red

.warning
  color: yellow
  font-size: 2em
